<form action="#" th:action="@{newSensorAlumbradoInteligente}" th:object="${sensorAlumbradoInteligente}" method="post">
    <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
    <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre Error</p>
    <p>Descripción: <input type="text" th:field="*{descripcion}" /></p>
    <p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"> Nombre has eerrors </p>
    <p>Establecimiento: <input type="text" th:field="*{establecimiento}" /></p>
    <p>Ubicación: <input type="text" th:field="*{ubicacionCordenada}" /></p>
    <p>Umbral de luz: <input type="number" th:field="*{umbralLuz}" /></p>
    <p th:if="${#fields.hasErrors('umbralLuz')}" th:errors="*{umbralLuz}"> Nombre has eerrors </p>
    <input type="submit" value="Guardar" />
</form>