<form action="#" th:action="@{/device/sensorAlumbradoInteligente/editar/{id}/guardar(id=*{id})}" th:object="${sensorAlumbradoInteligente}" method="post">
    <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
    <p>Descripcion: <input type="text" th:field="*{descripcion}" /></p>
    <p>Establecimiento: <input type="text" th:field="*{establecimiento}" /></p>
    <p>Ubicacion: <input type="text" th:field="*{ubicacionCordenada}" /></p>
    <p>Umbral de luz: <input type="number" th:field="*{umbralLuz}" /></p>
    
    <input type="submit" value="Guardar"/>
</form>