<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Dispositivos</title>
</head>
<body>
    <h1>Listado de Dispositivos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
        <tr th:each="device : ${devices}">
            <td th:text="${device.id}"></td>
            <td th:text="${device.nombre}"></td>
            <td th:text="${device.descripcion}"></td>
        </tr>
    </table>
</body>
</html>
