<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opciones de Subtipo de Dispositivo</title>
</head>
<body>
    <h1>Opciones de Subtipo de Dispositivo</h1>
    <ul>
        <li><a th:href="@{/device/recolectorInteligente/crear}">Dar de alta un nuevo dispositivo Recolector Inteligente</a></li>
        <li><a th:href="@{/device/recolectorInteligente/eliminar}">Dar de baja un dispositivo Recolector Inteligente existente</a></li>
        <li><a th:href="@{/device/recolectorInteligente/editar}">Modificar un dispositivo Recolector Inteligente existente</a></li>
        <li><a th:href="@{/device/recolectorInteligente/lista}">Gestionar Recolectores Inteligentes activos</a></li>
    </ul>
</body>
</html>
