<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opciones de Subtipo de Dispositivo</title>
</head>
<body>
    <h1>Opciones de Subtipo de Dispositivo</h1>
    <ul>
        <li><a th:href="@{/device/sensorAlumbradoInteligente/crear}">Dar de alta un nuevo dispositivo</a></li>
        <li><a th:href="@{/device/sensorAlumbradoInteligente/eliminar}">Dar de baja un dispositivo existente</a></li>
        <li><a th:href="@{/device/sensorAlumbradoInteligente/editar}">Modificar un dispositivo existente</a></li>
        <li><a th:href="@{/device/sensorAlumbradoInteligente/lista}">Gestionar sensores activos</a></li>
    </ul>
</body>
</html>