<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Subtipos de Dispositivos</title>
</head>
<body>
    <h1>Listado de Subtipos de Dispositivos</h1>
    <ul>
        <li><a th:href="@{/device/sensorAlumbradoInteligente}">Sensor de Alumbrado Inteligente</a></li>
        <li><a th:href="@{/device/recolectorBasuraInteligente}">Recolector basura inteligente</a></li>
        <!-- Agrega más elementos de lista para los demás subtipos -->
    </ul>
</body>
</html>