<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Selección de dispositivos</title>
</head>
<body>
    <h1>Selección de dispositivos</h1>
    
    <form action="#" th:action="@{sensoresH}" method="post">
        <label for="dispositivos">Selecciona un dispositivo:</label>
        <select name="dispositivos" id="dispositivos">
            <option value="sensor_humedad">Sensor de humedad</option>
            <option value="sensor_alumbradoInteligente">Sensor de temperatura</option>
            <!-- Agrega aquí más opciones según tus necesidades -->
        </select>
        
        <button type="submit">Ir al dispositivo seleccionado</button>
    </form>
</body>
</html>
